		</div>
		<div class="container img-overlay">
			<div class="row">
				<div class="col-xs-12">
					<div class="close-btn"><i class="fa fa-times"></i></div>
	                <div class="img-wrapper">
	                </div>
				</div>
				<div class="col-xs-12 caption">
					<div class="caption-text">
					</div>
					<div class="caption-button">
						<span>Toggle Caption</span>
						<br>
						<i class="fa fa-angle-double-down"></i>
					</div>
				</div>
			</div>
		</div>
		<script src="content/common/jquery.js" type="text/javascript"></script>
		<script src="content/common/fastclick.js" type="text/javascript"></script>
		<script src="content/common/video.js" type="text/javascript"></script>
		<script src="content/common/nysora.js" type="text/javascript"></script>
	</body>
</html>